// Orange Colors
$orange-10:  #FDF0EA;
$orange-20:  #F9D0BF;
$orange-30:  #F6B99F;
$orange-40:  #F29974;
$orange-50:  #EF8559;
$orange-60:  #EB672F;
$orange-70:  #EA581A;
$orange-80:  #B04416;
$orange-90:  #8E350F;
$orange-100: #632B14;

// Dark Blue Colors
$dark-blue-10:  #E9EAED;
$dark-blue-20:  #B9BEC6;
$dark-blue-30:  #989FAB;
$dark-blue-40:  #687384;
$dark-blue-50:  #4B586D;
$dark-blue-60:  #1B2A42;
$dark-blue-70:  #152133;
$dark-blue-80:  #111928;
$dark-blue-90:  #0D131E;

// Gray Colors
$gray-10:  #FBFBFC;
$gray-20:  #F9F9FA;
$gray-30:  #F2F3F4;
$gray-35:  #E6E8EA;
$gray-40:  #D5D8DC;
$gray-50:  #C0C2C6;
$gray-60:  #A0A2A5;
$gray-70:  #808284;
$gray-80:  #606163;
$gray-90:  #4B4C4D;
$gray-100: #232229;

// Red Colors
$red-10: #FEE9E9;
$red-20: #FDCECE;
$red-30: #FBA5A5;
$red-40: #F98080;
$red-50: #F74949;
$red-60: #F52424;
$red-70: #AC1919;
$red-80: #951616;

// Green Colors
$green-10: #ECF5EB;
$green-20: #CFE5CC;
$green-30: #B2D6AE;
$green-40: #91C48D;
$green-50: #62AB5B;
$green-60: #429A3A;
$green-70: #2E6C29;
$green-80: #285E23;

// Yellow Colors
$yellow-10: #FEFAED;
$yellow-20: #FCF2D4;
$yellow-30: #FAE9B6;
$yellow-40: #F7E097;
$yellow-50: #F4D26A;
$yellow-60: #F2C94C;
$yellow-70: #CC9E0F;
$yellow-80: #947B2E;

// Blue Colors
$blue-10: #ECEBFC;
$blue-20: #B2ACF2;
$blue-30: #9289ED;
$blue-40: #6357E5;
$blue-50: #4334E0;
$blue-60: #2F249D;
$blue-70: #292089;

$white: #fff;
$black: #000;
$transparent: transparent;